.myobrace-ph{
    @include cover_other("myobrace", "obarce2.png");
    //nav detail custom
    @include nav_dentail;
    // navMobile
    @include nav_dentail_mobile;
    @include prosthodontics;
    @include reason_detail;
    @include detail_description;
    @include detail_gird;
    .detail_gird {
        margin-bottom: 130px;
    }
    //Responsive
    @include breakpoint3 {
        @include cover_other_mobile;
        @include services_dentail_resposive;
        .detail_gird {
            margin-bottom: 80px;
        }
    }
  .detail_gird {
    .second-content{
      padding-top: 90px;
      padding-bottom: 90px;
    }
    margin-bottom: 60px;
    .content-first{
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @include breakpoint3{
      .content-first{
        padding-top: 0;
        padding-bottom: 0;
      }
      .second-content{
        padding-top: 0;
        padding-bottom: 0;
      }
    }

  }
}
