.restorative-ph{
  @include cover_other("restorative", "restorative.png");
  //nav detail custom
  @include nav_dentail;
  // navMobile
  @include nav_dentail_mobile;
  @include prosthodontics;
  @include reason_detail;
  @include detail_description;
  @include related;
  @include detail_gird;
  .detail_gird {
    margin-top: 40px;
    margin-bottom: 130px;
  }
  .detail_descripton{
    .detail_descripton__title{
      h2{
        padding-top: 30px;
      }
    }
    padding-left: 180px;
    padding-right: 180px;
    .detail_descripton__body{
      p{
        padding-bottom: 0px;
      }
    }

  }
  .detail_gird {
    .second-content{
      padding-top: 90px;
      padding-bottom: 90px;
    }
    margin-bottom: 60px;
    .content-first{
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @include breakpoint3{
      .content-first{
        padding-top: 0;
        padding-bottom: 0;
      }
      .second-content{
        padding-top: 0;
        padding-bottom: 0;
      }
    }

  }
  @include  breakpoint3{
    .detail_descripton{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  // Responsive
  @include breakpoint3 {
    @include cover_other_mobile;
    @include services_dentail_resposive;
  }
}