.smile-analysis-ph {
    @include cover_other("smile", "smile-analysis@2x.png");
    @include description;
    @include description_mobile;
    .check {
        margin-top: 30px;
        &__content {
            background-color: #fcfcfc;
            &--gray {
                background-color: $grey-color-1;
            }
            &__left {
                padding-left: 25px;
                font-weight: bold;
                color: $text-color-gray;
                p {
                    font-size: 17px;
                    padding-top: 22px;
                    padding-bottom: 21px;
                    font-weight: 700;
                }
            }
            &__right {
                form {
                    display: flex;
                    margin-top: 24px;
                    .radio_input {
                        p {
                            margin-right: 69px;
                        }
                        display: inline-block;
                        position: relative;
                        cursor: pointer;
                        font-size: 30px;
                        user-select: none;
                        padding-left: 40px;
                        margin-bottom: 10px;
                    }
                    .radio_input input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                    }
                    .checkmark {
                        position: absolute;
                        top: 2px;
                        left: 0;
                        width: 22px;
                        height: 22px;
                        border: 1px solid #707070;
                        border-radius: 50%;
                    }
                    .checkmark:after {
                        content: "";
                        position: absolute;
                        display: none;
                    }
                    .radio_input .checkmark:after {
                        top: 50%;
                        left: 50%;
                        border-radius: 50%;
                        border: solid 6px white;
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                    .radio_input input:checked ~ .checkmark {
                        background: #41cbd7;
                        border: none;
                    }
                    .radio_input input:checked ~ .checkmark:after {
                        display: block;
                    }
                }
            }
        }
    }
    .form_contact {
        margin-top: 42px;
        background-color: #41cbd7;
        color: white;
        &__left {
            p {
                font-size: 22px;
                padding-right: 54px;
            }
            line-height: 26px;
            margin-top: 100px;
            span {
                font-weight: 600;
            }
        }
        &__right {
            button {
                margin-left: 15px;
                margin-top: 38px;
                margin-bottom: 61px;
                height: 47px;
                width: 265px;
                padding: 10px 30px;
            }
            margin-top: 77px;
            &__item {
                p {
                    margin-bottom: 15px;
                    font-size: 17px;
                    font-weight: 700;
                    line-height: 26px;
                }
                textarea {
                    width: 100%;
                    padding-left: 15px;
                    padding-top: 15px;
                    height: 140px;
                    background: #85e2e8;
                    border: none;
                }
            }
            padding: 0;
            input {
                background: #85e2e8;
                width: 100%;
                padding-left: 15px;
                margin-bottom: 30px;
                border: none;
            }
        }
    }
    // RESPONSIVE
    @include breakpoint3 {
        @include cover_other_mobile;
        .check {
            &__content {
                &__left {
                    p {
                        padding: 14px;
                        font-weight: 700;
                        padding-left: 27px;
                        font-size: 14px;
                    }
                }
                &__right {
                    margin-left: 27px;
                    margin-bottom: 19px;
                    form {
                        margin-top: 5px;
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .form_contact {
            margin-top: 50px;
            padding: 0 20px;
            &__left {
                p {
                    font-size: 15px;
                    padding-right: 0;
                }
                line-height: 26px;
                margin-top: 40px;
                span {
                    font-weight: 600;
                }
            }
            &__right {
                button {
                    margin-left: 0px;
                    width: 100%;
                }
                margin-top: 50px;
            
                &__item {
                    p {
                        font-size: 14px;
                        margin-bottom: 12px;
                    }
                    textarea {
                        width: 100%;
                        padding-left: 15px;
                        padding-top: 15px;
                        height: 200px;
                        background: #85e2e8;
                        border: none;
                    }
                    &--phone {
                        padding-right: 7px !important;
                    }
                    &--email {
                        padding-left: 7px !important;
                    }
                }
                padding: 0;
                input {
                    height: 32px;
                    background: #85e2e8;
                    width: 100%;
                    padding-left: 15px;
                    margin-bottom: 30px;
                    border: none;
                    margin-bottom: 27px;
                }
            }
        }
    }
}
