.oral-surgery-ph {
  @include cover_other("surgery","surgery.png");
  //nav detail custom
  @include nav_dentail;
  // navMobile
  @include nav_dentail_mobile;
  @include prosthodontics;
  @include reason_detail;
  @include detail_description;
  .detail_descripton{
    padding-left: 80px;
    padding-right: 80px;
    @include breakpoint3{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @include related;
  // Responsive
  @include breakpoint3 {
    @include cover_other_mobile;
    @include services_dentail_resposive;
  }
  .related{
    .related__right{
      img{
        width: 30%;
        @include breakpoint3{
          width: 90%;
        }
      }
      .related__left{
        display: unset;
      }
    }
  }
}