.tmj-appliance-ph{
    @include cover_other("tmj","tmj1.png");
    //nav detail custom
    @include nav_dentail;
    // navMobile
    @include nav_dentail_mobile;
    @include prosthodontics;
    @include reason_detail;
    @include detail_gird;
    @include detail_description;
    @include related;
    // Responsive
    @include breakpoint3{
        @include cover_other_mobile;
        @include services_dentail_resposive;
    }
}
.TMJ{
  .related{
  .related__right{
    img{
      width: 30%;
    }
    .related__left{
      display: unset;
    }
  }
  }
}
@media(max-width: 992px) {
  .TMJ{

    .related__right{
      img{
        width: 90%;
      }
    }
  }
}