.whitening-ph{
    @include cover_other("whitening","_Whitening_background.png");
    //nav detail custom
    @include nav_dentail;
    // navMobile
    @include nav_dentail_mobile;
    @include prosthodontics;
    @include reason_detail;
    @include detail_gird;
    .detail_gird {
        margin-top: 40px;
        margin-bottom: 130px;
    }
//responsive
@include breakpoint3{
    @include cover_other_mobile;
    @include services_dentail_resposive;
    .detail_gird {
        margin-bottom: 80px;
    }
}

}
.whitening{
  .second-content{
    padding-top: 70px;
    padding-bottom : 70px;
  }
}