$color-primary: #cdd8a7;
$color-black: #282829;
$color-black2: #1c1c1d;
$color-sub: #f8f8f6;
$color-green: #cdd8a7;
$color-gray: #e5e5e5;
$color-gray2: #c4c4c4;
$color-smoke: #f6f5f5;
$color-pink: #e0b59f;
$color-blue: #39579a;
$color-orange: #de4d3b;
$color-blue-d3: #00bbd3;
$color-blue-d7: #41cbd7;
$color-blue-d8: #47d3d9;
$color-blue-c3: #55c6c3;
$color-blue-a8: #04aca8;
$color-blue-ad: #326fad;
$color-blue-d9: #47d3d9;
$color-brown-59: #d69d59;
$color-orange: #f5b119;
$color-brown-45: #594445;
$color-ink: #182955;
$color-borwn-6e: #77696e;
$color-grey: #707070;
$color-white-a: #f2f0ea;
$color-white-0: #f0f0f0;
$color-white-7: #fffce7;
$color-white-4: #faf8f4;
$color-white: #ffffff;
$text-color-gray: #555555;
$primary-color: #47d3d9;
$primary2-color: #41cbd7;
$secondary-color: #182955;
$text-color: #555;
$white-color: #fff;
$grey-color: #ebebeb;
$grey-color-1: #f4f4f4;
$gray-color-1: #f2f2f2;
$gray-color-2: #ececec;
$black-color: #000;
$border-color: #e2e2e2;
$black-color-1: #333333;
/*********************
BREAKPOINTS
*********************/
$breakpoint1: 1440px;
$ipadPro: 1199px;
$breakpoint2: 1060px;
$breakpoint3: 992px;
$breakpoint4: 767px;
$breakpoint5: 568px;
/************
FONT SATISFY
***********/
$font-satisfy: "Satisfy", cursive;
